.myBrand {
  border-top: 2px solid #1ab394;
  opacity: 0.5;
  font-size: 4vh;
  transform: scale(0.8);
  -webkit-animation-name: overlay;
  animation-name: overlay;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes overlay {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
